
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../images/pic3.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	font-weight: normal; 
	font-family: Raleway, sans-serif; 
}
h1 {
	color: #191919;
	font-size: 40px; 
}
h2 {
	color: #EEF4FF;
	font-size: 30px;
	
}
p {
	color: #191919;
	font-style: 
	font-size: 24px;
		
}
ul {
	text-align: center;
	list-style-type: none;
	padding: 0;

}
li {
	color: #191919;

}
img {
	width:25%;
}

.red {
	background-color: #ffffff;
	height:400px;
	font-family: Raleway, serif;
	font-size:40px;

}
.hero {
	height: 500px;
	background-image: url('../images/picture1.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;


}
.green {
	background-color: #4E6979;
	height:800px;
	font-family: Raleway, sans-serif;
}
.yellow {
	height:400px;
	font-family: Raleway, sans-serif;
}

