* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #e5e5e5;
	text-align: center;
	font-weight: normal; 
	font-family: Raleway, sans-serif; 
}
h1 {
	color: #191919;
	font-size: 40px; 
}
h2 {
	color: #ea3057;
	font-size: 30px;
	
}
p {
	color: #191919;
	font-style: 
	font-size: 24px;
		
}
ul {
	text-align: center;
	list-style-type: none;
	padding: 0;

}
li {
	color: #191919;

}
img {
	width:25%;
}

.hero {
	height: 500px;
	background-image: url('../images/logopxg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.blue {
	background-color: blue;
	height:800px;
}

.green {
	background-color: green;
	height:800px;
}

